.regions
  .region
    - @districts.each do |dist|
      .district
        .districtname
          = dist.name
          District &nbsp; &nbsp; &nbsp;
          = surround '(', ')' do
            = number_to_human dist.district_data.population
        %table
          %thead
            %th{:colspan => 2}
              Demographics
          %tbody
            %tr
              %td{:class => 'heading'}
                Total under one year
              %td{:class => 'data'}
                = number_with_delimiter dist.district_data.under_one

